@model IEnumerable<User>

@{ ViewBag.Title = "Lista korisnika"; }

<h1>Svi korisnici</h1> 

@if(Model != null && Model.Any())
{
    <a asp-controller="Account" asp-action="Register"
       class="btn btn-primary mb-3"> Dodajte novog korisnika </a>

    foreach(var user in Model.Reverse())
    {
        <div class="card mb-3">
            <div class="card-header">
                Ime i prezime korisnika: @user.name @user.surname
            </div>
            <div class="card-body">
                <h5 class="card-title"> @user.UserName </h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteUser" asp-route-id=@user.Id>
                    <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id"
                        class="btn btn-primary">Izmenite korisnika</a>
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Da li ste sigurni da zelite da izbrisete korisnika?')">
                         Izbrisite korisnika
                    </button> 
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Jos uvek nema kreiranih korisnika u sistemu
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Dodajte korisnika klikom da dugme dole
            </h5>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">
                Dodajte novog korisnika
            </a>
        </div>
    </div>
}